{#
  /**
   * @file
   * Default theme implementation to display a formatted image field.
   *
   * Available variables:
   * - image: A collection of image data.
   * - image_style: An optional image style.
   * - url: An optional URL the image can be linked to.
   *
   * @see template_preprocess_frontify_asset_formatter()
   *
   * @ingroup themeable
   */
  #}

  {# <div class="play-btn-fy"></div>
  <div class="video-popup-fy" >
    <span class="video-frontify-url" data-src="{{ uri }}"></span>
  </div> #}
  <div class="fronty-video-play-btn" data-src="{{ uri }}"></div>