{#
/**
 * @file
 * Default theme implementation to display a formatted image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_frontify_asset_formatter()
 *
 * @ingroup themeable
 */
#}
<img src="{{ uri }}" alt="{{ alt }}" title="{{ alt }}" width="{{ width}}" height="{{ height }}">
